# Autolib Electric Car Sharing Service

## Importing The Required Libraries

In [9]:
# Pandas library
import pandas as pd

# Numpy library
import numpy as np

## Loading The Dataset

In [10]:
# url
url = 'http://bit.ly/autolib_dataset'
# Dataset
ElectricCar = pd.read_csv(url, encoding= 'latin1')

## Dataset Preview

In [11]:
ElectricCar.head(10)

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃÂ¨ne OudinÃÂ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23
5,8 Boulevard Voltaire,0,0,0,0,0,nonexistent,Paris,NaN,paris-voltaire-8,...,NaN,4,station,ok,nonexistent,2018,4,6,7,2
6,37 rue Leblanc,0,0,0,0,0,nonexistent,Paris,"Station en parking (niv -1), accÃÂ¨s 37 rue L...",paris-citroencevennes-parking,...,NaN,0,station,closed,nonexistent,2018,4,8,18,20
7,17 Rue des Luaps ProlongÃÂ©e,3,3,1,0,0,nonexistent,Nanterre,NaN,nanterre-luaps-17,...,NaN,0,station,ok,nonexistent,2018,4,4,22,13
8,34 avenue Jean Moulin,1,1,0,0,0,nonexistent,Paris,NaN,paris-jeanmoulin-34,...,NaN,4,station,ok,nonexistent,2018,4,2,22,58
9,41 boulevard de Rochechouart,6,6,0,0,0,nonexistent,Paris,NaN,paris-anvers-parking,...,NaN,0,station,ok,nonexistent,2018,4,4,15,2

In [12]:
# Viewing all columns
ElectricCar.head(5).transpose()

,0,1,2,3,4
Address,2 Avenue de Suffren,145 Rue Raymond Losserand,2 Avenue John Fitzgerald Kennedy,51 Rue EugÃÂ¨ne OudinÃÂ©,6 avenue de la Porte de Champerret
Cars,0,6,3,3,3
Bluecar counter,0,6,3,3,3
Utilib counter,0,0,0,1,0
Utilib 1.4 counter,0,0,2,0,0
Charge Slots,0,0,0,1,0
Charging Status,nonexistent,operational,operational,operational,nonexistent
City,Paris,Paris,Le Bourget,Paris,Paris
Displayed comment,NaN,NaN,NaN,NaN,NaN
ID,paris-suffren-2,paris-raymondlosserand-145,lebourget-johnfitzgeraldkennedy-2,paris-eugeneoudine-51,paris-portedechamperret-6
Kind,STATION,STATION,STATION,STATION,PARKING
Geo point,"48.857, 2.2917","48.83126, 2.313088","48.938103, 2.4286035","48.8250327, 2.3725162","48.8862632, 2.2874511"
Postal code,75015,75014,93350,75013,75017
Public name,Paris/Suffren/2,Paris/Raymond Losserand/145,Le Bourget/John Fitzgerald Kennedy/2,Paris/EugÃÂ¨ne OudinÃÂ©/51,Paris/Porte de Champerret/6
Rental status,operational,operational,operational,operational,operational
Scheduled at,NaN,NaN,NaN,NaN,NaN
Slots,2,0,1,2,3
Station type,station,station,station,station,station
Status,ok,ok,ok,ok,ok
Subscription status,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent
year,2018,2018,2018,2018,2018
month,4,4,4,4,4
day,8,6,3,4,8
hour,11,7,20,4,17
minute,43,24,14,37,23

## Data Understanding

### Dataframe Information

In [13]:
ElectricCar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [14]:
# Viewing hidden column information
ElectricCar.iloc[:, range(19,22)].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Subscription status  5000 non-null   object
 1   year                 5000 non-null   int64
 2   month                5000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 117.3+ KB

## Data Preperation

### Validity

#### 1. Removal of unimportant columns

In [15]:
# The Cars column is a duplicate of the Bluecar counter, therefore it is not required.
# The Geo point column is also unnecessary as the Address, Public name and the ID column cater to location requirements.
# The Address and Public information column will aslo be dropped as they contain similar information to the ID column.
# They also have foreign characters which will be cumbersome to correct.

In [16]:
# 1. Dropping of specified colummns.
ElectricCar.drop(ElectricCar.iloc[: , [0, 1, 11, 13]], axis = 1, inplace = True)
# View changes
ElectricCar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar counter      5000 non-null   int64
 1   Utilib counter       5000 non-null   int64
 2   Utilib 1.4 counter   5000 non-null   int64
 3   Charge Slots         5000 non-null   int64
 4   Charging Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   Displayed comment    111 non-null    object
 7   ID                   5000 non-null   object
 8   Kind                 5000 non-null   object
 9   Postal code          5000 non-null   int64
 10  Rental status        5000 non-null   object
 11  Scheduled at         47 non-null     object
 12  Slots                5000 non-null   int64
 13  Station type         5000 non-null   object
 14  Status               5000 non-null   object
 15  Subscription status  5000 non-null   object
 16  year                 5000 non-null   int64
 17  month                5000 non-null   int64
 18  day                  5000 non-null   int64
 19  hour                 5000 non-null   int64
 20  minute               5000 non-null   int64
dtypes: int64(11), object(10)
memory usage: 820.4+ KB

In [17]:
# 2. Checking the validity of the 'Displayed comment' column.

ElectricCar['Displayed comment'].unique()

array([nan, 'Station en parking (niv -1), accÃ\x83Â¨s 37 rue Leblanc',
       'Station en parking (niv 0), accÃ\x83Â¨s 26 villa Croix Nivert',
       'Station en parking (niv -2), accÃ\x83Â¨s 4 av. Foch',
       "Borne d'abonnement en sous-sol (niv -1), accÃ\x83Â¨s 4 rue Lobau",
       'Station en parking (niv -1), accÃ\x83Â¨s rue Wilson',
       'Station en parking (niv -1), accÃ\x83Â¨s Place Georges Pompidou',
       'Station en parking (niv -3), accÃ\x83Â¨s 32 rue dÃ¢Â\x80Â\x99Alsace',
       'Station en parking (niv -2), accÃ\x83Â¨s 2 avenue Gabriel',
       'Station en parking (niv -1), accÃ\x83Â¨s av. de Versailles',
       'Station en parking (niv -1), accÃ\x83Â¨s rue Abel Gance',
       'Station en parking (niv -1), accÃ\x83Â¨s 4 av. des Ternes',
       'Station en parking (niv -1), Station B (sur la droite)',
       'Station en parking',
       'Station en parking (niv -2), accÃ\x83Â¨s 125 bvd du Montparnasse',
       'Station en parking (niv -1), Station A (sur la gauche)',
       'Station en parking (niv -1), accÃ\x83Â¨s 8 rue Louise Michel',
       'Station en parking (niv -1), accÃ\x83Â¨s 26 bvd Gouvion Saint-Cyr',
       'Station en parking (niv -1), accÃ\x83Â¨s rue Marjolin',
       'Station en parking (niv -1), accÃ\x83Â¨s 141 rue Lecourbe',
       'Station en parking (niv -1), accÃ\x83Â¨s 37 rue Wilson',
       'Station en parking (niv -2), accÃ\x83Â¨s 155 rue de Rennes',
       'Station en parking (niv -1), accÃ\x83Â¨s av. gÃ\x83Â©n Sarrail',
       'Station en parking (niv -1), accÃ\x83Â¨s 33 rue Ernest Cognacq',
       'Station en parking (niv -1), accÃ\x83Â¨s 80 rue Wilson',
       "Station en parking (niv -1), accÃ\x83Â¨s 29 quai d'Austerlitz"],
      dtype=object)

In [18]:
# The column does not provide a significant contribution to the study.

ElectricCar.drop('Displayed comment', axis = 1, inplace = True)

In [19]:
# 3. The study is limited to understanding car usage over time, therefore, the column can be removed.
# It also has limited information, compared to the amount of data available.

ElectricCar.drop('Scheduled at', axis = 1, inplace = True)

#### 2. Accuracy

##### a) Charge Slots and Charging Status

In [20]:
# Charge slots can only be greater than 0 if the Charging status is operational
# 1. Checking the condition is met

wrong_number_slots = ElectricCar[(ElectricCar['Charging Status'] == 'operational') & (ElectricCar['Charge Slots'] == 0)]
wrong_number_slots.any().any()

True

In [21]:
# Checking for value to replace the contradictory value.
ElectricCar[(ElectricCar['Charging Status'] == 'operational') & (ElectricCar['Charge Slots'] != 0)]['Charge Slots'].mode()

0    1
dtype: int64

In [22]:
# Implementing the required changes
ElectricCar.loc[(ElectricCar['Charging Status'] == 'operational') & (ElectricCar['Charge Slots'] == 0),'Charge Slots'] = 1
# Ensuring that changes have been made
wrong_number_slots.any().any()

True

In [23]:
# 2. Ensuring that the charging slots are only >1 when the status is operational.

wrong_slots = ElectricCar[(ElectricCar['Charging Status'] != 'operational') & (ElectricCar['Charge Slots'] != 0)]
wrong_slots.any().any()

False

In [24]:
# 3. Ensuring that the slots is zero for a charging status of future.

future_slots = ElectricCar[(ElectricCar['Charging Status'] == 'future') & (ElectricCar['Charge Slots'] != 0) & (ElectricCar['Slots'] != 0)]
future_slots.any().any()

False

In [25]:
ElectricCar.columns

Index(['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Postal code',
       'Rental status', 'Slots', 'Station type', 'Status',
       'Subscription status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [26]:
# 4. Ensuring that the cars are zero for a charging status of future.

future_cars = ElectricCar[(ElectricCar['Charging Status'] == 'future') & (ElectricCar['Bluecar counter'] != 0) &
(ElectricCar['Utilib counter'] != 0) & (ElectricCar['Utilib 1.4 counter'] != 0)]
future_cars.any().any()

False

The conditions have been met.

##### c) Kind Column

In [27]:
# 1. Ensuring that the 'CENTER' value has no resources

center = ElectricCar[(ElectricCar['Kind'] == 'CENTER') & (ElectricCar['Bluecar counter'] != 0) &
(ElectricCar['Utilib counter'] != 0) & (ElectricCar['Utilib 1.4 counter'] != 0) & ElectricCar['Charge Slots'] != 0 & (ElectricCar['Slots'] != 0)]
center.any().any()

False

In [28]:
# 2. Ensuring that the 'PARKING' value has no charging slots.

parking = ElectricCar[(ElectricCar['Kind'] == 'PARKING') & ElectricCar['Charge Slots'] != 0]
parking.any().any()

False

##### d) Rental Status

In [29]:
# Ensuring that the 'broken' status only has slot resources available.

broken= ElectricCar[(ElectricCar['Kind'] == 'broken')  & (ElectricCar['Bluecar counter'] != 0) &
(ElectricCar['Utilib counter'] != 0) & (ElectricCar['Utilib 1.4 counter'] != 0) & (ElectricCar['Charge Slots'] != 0)]
broken.any().any()

False

##### e) Status

In [30]:
# Ensuring that no resources are available for the "sceduled" status.

status = ElectricCar[(ElectricCar['Status'] == 'scheduled')  & (ElectricCar['Bluecar counter'] != 0) &
(ElectricCar['Utilib counter'] != 0) & (ElectricCar['Utilib 1.4 counter'] != 0) & (ElectricCar['Charge Slots'] != 0) & (ElectricCar['Slots'] != 0)]
status.any().any()

False

#### 3. Completeness

In [31]:
# Checking for missing values
ElectricCar.isnull().sum().sum()

0

There are no missing values.

#### 4. Consistency

In [32]:
# Checking for duplicates
ElectricCar.duplicated().sum()

0

There are no duplicates.

#### 5. Uniformity

##### a) Renaming Columns

In [33]:
# Changing the case of the columns to sentence case, as specified in the provided docummentaion.
# Function used to capitalize the column names
def SentenceCase(table):
    new_columns = []
    columns = list(table.columns.values)
    for x in columns:
        new_columns.append(x.title())
    table.columns = new_columns

# Function call
SentenceCase(ElectricCar)

In [34]:
# Check changes
ElectricCar.columns

Index(['Bluecar Counter', 'Utilib Counter', 'Utilib 1.4 Counter',
       'Charge Slots', 'Charging Status', 'City', 'Id', 'Kind', 'Postal Code',
       'Rental Status', 'Slots', 'Station Type', 'Status',
       'Subscription Status', 'Year', 'Month', 'Day', 'Hour', 'Minute'],
      dtype='object')

#### b) Data Type Conversion

In [35]:
# Checking assigned data types
ElectricCar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar Counter      5000 non-null   int64
 1   Utilib Counter       5000 non-null   int64
 2   Utilib 1.4 Counter   5000 non-null   int64
 3   Charge Slots         5000 non-null   int64
 4   Charging Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   Id                   5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Postal Code          5000 non-null   int64
 9   Rental Status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station Type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription Status  5000 non-null   object
 14  Year                 5000 non-null   int64
 15  Month                5000 non-null   int64
 16  Day                  5000 non-null   int64
 17  Hour                 5000 non-null   int64
 18  Minute               5000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 742.3+ KB

No columns require type conversion.

#### 6. Outliers

The numerical columns are restricted to a specific range of values, therefore, there was no need to remove any outliers.

## Analysis

**1. Most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [36]:
popular_hour = ElectricCar[(ElectricCar['City'] == 'Paris') & (ElectricCar['Month'] == 4) &
 (ElectricCar['Year'] == 2018)][['Hour', 'Bluecar Counter']].groupby('Hour').sum()
popular_hour['Difference'] = popular_hour['Bluecar Counter'].diff()
popular_hour.fillna(0, inplace= True)
popular_hour.sort_values('Difference').head(1)

      Bluecar Counter  Difference
Hour
22                197       -71.0

The most popular hour was 22:00 PM, as it had the highest number of cars picked up from the stations, when compared to cars present at the previous hour.

**2. What is the most popular hour for returning cars?**

In [51]:
popular_hour.sort_values('Difference').tail(1)

      Utilib Counter  Difference
Hour
6                 13         8.0

The most popular hour for returning cars was 21:00 PM

**3. What station is the most popular?**

a) Overall?

In [45]:
popular_station_overall = ElectricCar[['Id','Bluecar Counter']].groupby('Id').sum()
popular_station_overall[popular_station_overall['Bluecar Counter'] == popular_station_overall['Bluecar Counter'].max()]

                                    Bluecar Counter
Id
fontenayauxroses-robertmarchand-32               50

The specified station had the highest number of cars in service. Therefore, it is assumed that they have the highest number of clients.

b) At the most popular picking hour?

In [46]:
pop_station_pop_hour = ElectricCar[ElectricCar['Hour'] == 21][['Id','Bluecar Counter']].groupby('Id').sum()
pop_station_pop_hour[pop_station_pop_hour['Bluecar Counter'] == pop_station_pop_hour['Bluecar Counter'].max()]

                 Bluecar Counter
Id
paris-reille-59                8

The station identified was at 59 Reille Paris.

**4. What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?**

**a) Overall?**

In [40]:
popular_postal = ElectricCar[['Postal Code', 'Bluecar Counter']].groupby(['Postal Code']).sum()
popular_postal[popular_postal['Bluecar Counter'] == popular_postal['Bluecar Counter'].max()]

             Bluecar Counter
Postal Code
75015                    609

In [47]:
ids = ElectricCar[(ElectricCar['Postal Code'] == 75015)]['Id']
print('fontenayauxroses-robertmarchand-32' in ids)

False

The most popular station does not belong to the postal code.

**b) At the most popular picking hour?**

In [48]:
popular_hour = ElectricCar[(ElectricCar['Hour'] == 22)][['Postal Code', 'Bluecar Counter']].groupby('Postal Code').sum()
popular_hour['Difference'] = popular_hour['Bluecar Counter'].diff()
popular_hour.fillna(0, inplace= True)
popular_hour.sort_values('Difference').head(1)

             Bluecar Counter  Difference
Postal Code
75017                      7       -28.0

The most popular postal code, at the most popular picking hour, for picking up blue cars, was 75017.

In [43]:
ids = ElectricCar[(ElectricCar['Postal Code'] == 75017)]['Id']
print('fontenayauxroses-robertmarchand-32' in ids)
print('paris-portedemontrouge-8' in ids)

False
False

The most popular stations are not in the postal code.

**5. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?**

**Utilib and Utilib 1.4**

a) Most popular hour of the day for picking up a shared electric car in the city of Paris over the month of April 2018.

Utilib

In [50]:
popular_hour = ElectricCar[(ElectricCar['City'] == 'Paris') & (ElectricCar['Month'] == 4) &
 (ElectricCar['Year'] == 2018)][['Hour', 'Utilib Counter']].groupby('Hour').sum()
popular_hour['Difference'] = popular_hour['Utilib Counter'].diff()
popular_hour.fillna(0, inplace= True)
popular_hour.sort_values('Difference').head(1)

      Utilib Counter  Difference
Hour
9                  5        -7.0

The most popular hour was 9:00 AM.

b) What is the most popular hour for returning cars?

In [53]:
popular_hour.sort_values('Difference').tail(1)

      Utilib Counter  Difference
Hour
6                 13         8.0

The most popular hour was 6:00 AM.

c) What station is the most popular?

Utilib

Overall?

In [58]:
popular_station_overall = ElectricCar[['Id','Utilib Counter']].groupby('Id').sum()
popular_station_overall[popular_station_overall['Utilib Counter'] == popular_station_overall['Utilib Counter'].max()]

                              Utilib Counter
Id
gennevilliers-petitsmarais-4               4
meudon-marechaljuin-18                     4
paris-macmahon-5                           4
paris-portedemontrouge-8                   4

At the most popular picking hour?

In [59]:
pop_station_pop_hour = ElectricCar[ElectricCar['Hour'] == 21][['Id','Utilib Counter']].groupby('Id').sum()
pop_station_pop_hour[pop_station_pop_hour['Utilib Counter'] == pop_station_pop_hour['Utilib Counter'].max()]

                Utilib Counter
Id
paris-arago-99               2

Utilib 1.4

Overall?

In [61]:
popular_station_overall = ElectricCar[['Id','Utilib 1.4 Counter']].groupby('Id').sum()
popular_station_overall[popular_station_overall['Utilib 1.4 Counter'] == popular_station_overall['Utilib 1.4 Counter'].max()]

                      Utilib 1.4 Counter
Id
sevres-granderue-123                   9

At the most popular picking hour?

In [62]:
pop_station_pop_hour = ElectricCar[ElectricCar['Hour'] == 21][['Id','Utilib 1.4 Counter']].groupby('Id').sum()
pop_station_pop_hour[pop_station_pop_hour['Utilib 1.4 Counter'] == pop_station_pop_hour['Utilib 1.4 Counter'].max()]

                         Utilib 1.4 Counter
Id
paris-fabredeglantine-2                   2
paris-renecoty-11                         2

d) What postal code is the most popular for picking up Utilib cars? Does the most popular station belong to that postal code?

Utilib

Overall?

In [44]:
popular_postal = ElectricCar[['Postal Code', 'Utilib Counter']].groupby(['Postal Code']).sum()
popular_postal[popular_postal['Utilib Counter'] == popular_postal['Utilib Counter'].max()]

             Utilib Counter
Postal Code
75015                    20
75016                    20
75017                    20

At the most popular picking hour?

In [55]:
pop_station_pop_hour = ElectricCar[ElectricCar['Hour'] == 21][['Id','Utilib Counter']].groupby('Id').sum()
pop_station_pop_hour[pop_station_pop_hour['Utilib Counter'] == pop_station_pop_hour['Utilib Counter'].max()]

                Utilib Counter
Id
paris-arago-99               2

Utilib 1.4

Overall?

In [56]:
popular_postal = ElectricCar[['Postal Code', 'Utilib 1.4 Counter']].groupby(['Postal Code']).sum()
popular_postal[popular_postal['Utilib 1.4 Counter'] == popular_postal['Utilib 1.4 Counter'].max()]

             Utilib 1.4 Counter
Postal Code
75017                        40

At the most popular picking hour?

In [57]:
pop_station_pop_hour = ElectricCar[ElectricCar['Hour'] == 21][['Id','Utilib 1.4 Counter']].groupby('Id').sum()
pop_station_pop_hour[pop_station_pop_hour['Utilib 1.4 Counter'] == pop_station_pop_hour['Utilib 1.4 Counter'].max()]

                         Utilib 1.4 Counter
Id
paris-fabredeglantine-2                   2
paris-renecoty-11                         2